<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.quincycollege.csi257.shoppinghelper"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_shopping_list_activity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShoppingListActivity">
        </activity>
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:parentActivityName=".ShoppingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.quincycollege.csi257.shoppinghelper.ShoppingListActivity"/>
        </activity>
    </application>

</manifest>
